<configuration>

    <!-- 콘솔에 로그 출력 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일에 로그 출력 (JSON 형식) -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logstash/logdata/logfile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 매일 새로운 파일 생성 -->
            <fileNamePattern>logstash/logdata/logfile-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 로그 파일 보관 기간 설정 (30일) -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <!-- 특정 패키지의 로그 설정 -->
    <logger name="ott.j4jg_be.adapter.in.web.API" level="info" additivity="false">
        <appender-ref ref="file"/>
    </logger>


    <!-- 루트 로거 설정: 콘솔에만 로그 기록 -->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>





