<configuration>

    <!-- 콘솔에 로그 출력 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--채용정보-->
    <appender name="jobinfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logstash/logdata/jobinfo/jobinfo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 파일 크기 및 날짜 기반 롤오버 설정 -->
            <fileNamePattern>logstash/logdata/jobinfo/jobinfo-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 최대 파일 크기 설정 (예: 10MB) -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 로그 파일 보관 기간 설정 (30일) -->
            <maxHistory>30</maxHistory>
            <!-- 로그 파일 보관 공간 설정 (예: 1GB) -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!--뉴스-->
    <appender name="news" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logstash/logdata/news/news.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 파일 크기 및 날짜 기반 롤오버 설정 -->
            <fileNamePattern>logstash/logdata/news/news-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 최대 파일 크기 설정 (예: 10MB) -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 로그 파일 보관 기간 설정 (30일) -->
            <maxHistory>30</maxHistory>
            <!-- 로그 파일 보관 공간 설정 (예: 1GB) -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- SMS -->
    <appender name="sms" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logstash/logdata/SMS/sms.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 파일 크기 및 날짜 기반 롤오버 설정 -->
            <fileNamePattern>logstash/logdata/SMS/sms-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 최대 파일 크기 설정 (예: 10MB) -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 로그 파일 보관 기간 설정 (30일) -->
            <maxHistory>30</maxHistory>
            <!-- 로그 파일 보관 공간 설정 (예: 1GB) -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- 채용정보 서비스 -->
    <logger name="ott.j4jg_be.application.service.SaveJobInfoService" level="info" additivity="false">
        <appender-ref ref="jobinfo"/>
    </logger>

    <!-- 뉴스 -->
    <logger name="ott.j4jg_be.application.service.collection.CrawlingNewsService" level="info" additivity="false">
        <appender-ref ref="news"/>
    </logger>

    <!-- 뉴스 서비스 -->
    <logger name="ott.j4jg_be.application.service.CrawlingNewsService" level="info" additivity="false">
        <appender-ref ref="news"/>
    </logger>

    <!-- SMS 전송 로그 -->
    <logger name="ott.j4jg_be.application.service.NotificationService" level="info" additivity="false">
        <appender-ref ref="sms"/>
    </logger>

    <!-- 루트 로거 설정: 콘솔에만 로그 기록 -->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
