files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash

      # 기존의 Java 프로세스를 종료
      killall java || true

      # JAR 파일 경로 정의
      GATEWAY_JAR_PATH=/var/app/current/gateway/build/libs/gateway-0.0.1-SNAPSHOT.jar

      # Gateway 애플리케이션을 포트 8000에서 실행
      java -Dfile.encoding=UTF-8 -jar "$GATEWAY_JAR_PATH" --server.port=8000 &

      # 두 애플리케이션이 시작될 때까지 대기
      wait
